
p1{font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-style:italic; font-size: medium;color:#000000 ;border-style:dashed;border-color: rgb(146, 9, 9);}
p2{font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; border-style:inherit;color: rgba(255, 255, 255, 0.8);font-size:larger;background-color: rgb(99, 0, 212);border-style: inherit;}
p3{font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; border-style:inherit;color: rgba(0, 0, 0, 0.8);font-size:medium;background-color: rgb(92, 89, 97);border-style: inherit;}
